.gif {
    color: white;
    display: block;
    text-decoration: none;
    position: relative;
    width: 100%;
    display: inline-block;
}

.title {
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin: 0px;
}

.image {
    object-fit: contain;
    width: 100%;
}
